{{> header}}
    {{#if rows}}
        {{#each rows}}
            <div class="task">
                <h3>Задача № {{this.id}}</h3>
                <h3>Статус: {{#if this.done}} выполнена {{else}} не выполнена {{/if}} </h3>
                <h3>Описание: {{this.text}}</h3>
                <a href="/edit/{{this.id}}">редактировать</a><br>
                <a href="/delete/{{this.id}}">удалить</a>
            </div>
        {{/each}}
    {{else}}
        <h1>Список задач пуст</h1>
    {{/if}}
{{> footer}}